.glary__headerSection {
  height: 90vh;
  background-color: #efe9f4;
  padding-top: 5rem;
}

.glary__headerSection p {
  text-align: center;
  max-width: 50rem;
  word-wrap: break-word;
  margin-left: auto;
  margin-right: auto;
}

.glary-card {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)),
    url("../../assets/galary1.jpeg");
  background-size: cover;
  background-position: center;
  height: 50vh;
  color: #ffff;
}

.glary-card-three {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)),
    url("../../assets/landing.jpeg");
  background-size: cover;
  background-position: center;
  height: 50vh;
  color: #ffff;
}
.glary-card-one {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)),
    url("../../assets/galary2.jpeg");
  background-size: cover;
  background-position: center;
  height: 20vh;
  color: #ffff;
}

.glary-card-two {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)),
    url("../../assets/colo.jpeg");
  background-size: cover;
  background-position: center;
  height: 28vh;
  color: #ffff;
}

/* Media query for small screens */
@media screen and (max-width: 912px) {
  .glary__headerSection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0px;
    height: auto;
    margin-bottom: 0rem;
  }

  .glary__headerSection .container {
    padding: 10px !important;
  }

  .glary-card {
    margin-top: 20px !important;
  }

  .glary-card-one {
    margin-top: 20px;
  }
}
