.offerPage__volunteer__headerSection {
  height: 100vh;
  background-color: #5bc0eb;
}

.volunteer__text {
  color: #f5a503;
  font-family: "Montserrat";
}

.card-default-volunteer {
  width: 22rem !important;
  border-radius: 1rem;
  border: #efe9f4 solid 3px !important;
  border-radius: 3.6rem 3.6rem 0rem 0rem !important;
}

.card-body__default-volunteer {
  background-color: #efe9f4 !important;
  color: black;
}

.offerPage__headerSection__volunteer__svg {
  background: #efe9f4;
}

/* Media query for small screens */
@media screen and (max-width: 912px) {
  .offerPage__volunteer__headerSection {
    height: auto;
    padding: 0px;
  }
  .volunteer__text {
    text-align: center;
  }

  .card {
    margin-top: 1rem;
  }

  .card-default-volunteer {
    width: auto !important;
  }
}
