.whatSection__headerSection {
  height: 20vh;
  padding-bottom: 10rem;
  background: #5bc0eb;
}

.whatSection__HeaderSection p {
  text-align: center;
  max-width: 50rem;
  word-wrap: break-word;
  margin-left: auto;
  margin-right: auto;
}

.quote-holder {
  color: red;
  font-size: larger;
  font-weight: bold;
}

.quote-sable {
  font-weight: bolder;
  font-size: 50px;
}

.whatSection__headerSection__svg {
  background: #efe9f4;
}

.visionSection__header {
  background: #efe9f4;
  height: 50vh;
}

.visionSection__header .card-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card {
  flex: 1; /* Allow the card to expand to fill the container */
}

.inline-list {
  padding: 0;
  list-style: none;
}

.inline-list li {
  display: inline;
  margin-right: 10px; /* Adjust this value based on your preference */
}

/* .visionSection__header .row {
  padding: 0px 15rem;
}

.visionSection__image-section-parent1 {

}

.visionSection__image-section-parent {
  position: absolute;
  top: 33%;
  left: 64%;
  transform: translate(-50%, -50%);
} */

@media (max-width: 1092px) {
  .visionSection__image-section-parent {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 912px) {
  .visionSection__header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0px;
    padding-bottom: 5rem;
    height: auto;
    margin-bottom: 0rem;
  }
  .visionSection__header .row {
    padding: 0px;
  }

  .visionSection__image-section-parent {
    display: none; /* Hide on small screens */
  }
  .visionSection__image-section-parent1 {
    display: none; /* Hide on small screens */
  }
}
